@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}
.title {
  display: block;
  text-align: center;
  margin: 30px auto;
  font-weight: 100;
}
.search-form {
  width: 300px;
  margin: 15px auto;
}
input.search-form__input {
  width: 100%;
  border: 1px solid #212121;
  padding: 10px 15px;
  color: #000;
  background: #fff;
  transition-duration: 0.5s;
  &::placeholder {
    color: #9e9e9e;
  }
  &:hover {
    box-shadow: 0 0 10px rgba(33, 33, 33, 0.5);
  }
  &:focus {
    box-shadow: 0 0 20px rgba(33, 33, 33, 0.5);
  }
}
.search-form__btns {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 10px;
}
.btns__btn-clear {
  flex: 1 0;
  width: 50%;
  margin-right: 5px;
  color: #f44336;
  border: 1px solid #f44336;
  background-color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all linear 0.3s;
  &:hover {
    color: #fff;
    background-color: #f44336;
    box-shadow: 0 0 20px rgba(244, 67, 54, 0.5);
  }
}
.btns__btn-search {
  flex: 1 0;
  width: 50%;
  margin-left: 5px;
  color: #4caf50;
  border: 1px solid #4caf50;
  background-color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: all linear 0.3s;
  &:hover {
    color: #fff;
    background-color: #4caf50;
    box-shadow: 0 0 20px rgba(76, 175, 80, 0.5);
  }
}
.app {
  width: 300px;
  margin: 30px auto;
}
.game-card {
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.3);
}
.game-card__title {
  font-weight: 100;
}
.game-card__developer {
  font-weight: 300;
}
.game-card__platforms {
  font-weight: 300;
}
